VITE_ENABLE_LAZY=0
VITE_APP_ENV=local
VITE_API_URL=http://localhost:4000/api
VITE_TENANT_ID=vallentuna-oppenvard-vuxen
VITE_MUNICIPALITY_NAME=Vallentuna öppenvård vuxen
VITE_UI_BRAND_NAME=Vallentuna öppenvård vuxen
VITE_SUPPORT_EMAIL=support@vallentuna.se
